@media (max-width: 1024px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .nome-redes {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cv-contato button {
    height: 50px;
    width: 150px;
  }

  .container-sm {
    margin-top: 50px;
  }

  .projeto-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projeto-img {
    width: 100%;
  }

  .projeto-img img {
   height: 50rem;
   width: 100%;
  }

  .projeto-txt {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  
  .projeto-estudo {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .projeto-img {
    width: 85%;
  }

  .projeto-img img {
    height: 25rem;
    height: 100%;
  }

  .projeto-txt {
    width: 85%;
  }
}

