:root {
  --cor-preto: #0c151d;
  --cor-cinza: #171f26;
  --cor-cinza-texto: #a3abb2;
  --cor-azul: #055fef;

  font-size: 62.5% !important;
}

body {
  background-color: var(--cor-preto) !important;
  color: white !important;

  font-size: 1.6rem !important;
}

.container-sm {
  margin-top: 50px;
}

/*=========================================================== PARTE PERFIL ====================================================================*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

header h1 {
  font-size: 4.1rem;
}

header p {
  font-size: 2.2rem;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.foto {
  border-radius: 50%;
  width: 215px;
  height: 215px;

  background-image: url('./assets/perfil.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-box-shadow: 0px 0px 50px 3px rgba(5, 95, 239, 1);
  -moz-box-shadow: 0px 0px 50px 3px rgba(5, 95, 239, 1);
  box-shadow: 0px 0px 50px 3px rgba(5, 95, 239, 1);
}

.redes {
  display: flex;
  gap: 30px;
}

.skills-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-wrapper h2 {
  font-size: 4rem;
}

.skills {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  color: var(--cor-cinza-texto);
  text-transform: uppercase;
}

.skills h5 {
  font-size: 2.2rem;
}

/*=========================================================== PARTE CONTATO ====================================================================*/

.cv-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  margin-bottom: 70px;
}

.cv-button {
  background-color: var(--cor-azul);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;

  width: 200px;
  height: 70px;

  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.cv-button:hover {
  background-color: var(--cor-cinza);
  color: var(--cor-azul);
}

.ct-button {
  background-color: var(--cor-cinza);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;

  width: 200px;
  height: 70px;
}

.ct-button:hover {
  background-color: var(--cor-azul);
}

/*=========================================================== PARTE PROJETOS ====================================================================*/

.projetos {
  background-color: var(--cor-cinza);
  width: 100%;
  height: 130px;
  text-align: center;

  border-radius: 20px;

  margin-inline: auto;
  margin-bottom: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.projeto-estudo {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.projeto-estudo span {
  color: var(--cor-azul);
  font-size: 1.8rem;
}

.projeto-estudo h1 {
  font-size: 4.8rem;
}

.amostra-projetos {
  margin-bottom: 50px;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projeto-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 5rem;
}

/*=== inverter display dos projetos====*/
.inverter {  
  flex-direction: row-reverse;
}


.projeto-img {
  width: 50%;
}

.projeto-img img {
  object-fit: cover;
  border-radius: 10px;
  height: 40rem;
  -webkit-box-shadow: 10px 10px 50px -15px rgba(5, 95, 239, 1);
  -moz-box-shadow: 10px 10px 50px -15px rgba(5, 95, 239, 1);
  box-shadow: 10px 10px 50px -15px rgba(5, 95, 239, 1);
}

.projeto-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  text-align: left;
  gap: 25px;
}

.projeto-txt a{
  text-decoration: none;
  color: var(--cor-azul);
}

.projeto-txt span {
  color: var(--cor-azul);
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

.projeto-txt p {
  font-size: 2.2rem;
}

.projeto-txt h1 {
  font-size: 3.4rem;
}

.ver-projeto {
  width: 30rem;
  height: 5rem;
  font-size: 2.4rem;

  background: none;
  border: solid 1px var(--cor-azul);
  color: #fff;
  border-radius: 10px;
}

.ver-projeto:hover {
  background-color: var(--cor-azul);
}

.space {
  display: flex;
  flex-direction: column;
}

/*=========================================================== PARTE RODAPÉ ====================================================================*/

footer {
  width: 100%;
  height: 10vh;
  font-size: 4rem;
}

footer a {
  text-decoration: none;
}

